# Import Libraries

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Import Data

In [2]:
path = r'/Users/docopeland/Documents/data analysis/career foundry/06 Open Data'

In [3]:
wdi = pd.read_pickle(os.path.join(path,'data','prepared data','wdi_short.pkl'))

In [4]:
clusters = pd.read_pickle(os.path.join(path,'data','prepared data','wdi_clustered.pkl'))

In [5]:
wdi.head()

Indicator Name,Country Name,year,CPI human resources,CPIA gender equality,CPIA social protection,employers,management,fertility rate,intentional homicides,labor force,literacy rate,poverty gap,parliment seats,unpaid domestic,gender parity index,primary enrollment,teenage mothers,married by 18
30,Afghanistan,1990.0,NaN,NaN,NaN,NaN,NaN,7.466,NaN,15.180,NaN,NaN,NaN,NaN,0.54850,NaN,NaN,NaN
31,Afghanistan,1991.0,NaN,NaN,NaN,0.05,NaN,7.479,NaN,15.214,NaN,NaN,NaN,NaN,0.54788,NaN,NaN,NaN
32,Afghanistan,1992.0,NaN,NaN,NaN,0.05,NaN,7.502,NaN,15.223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Afghanistan,1993.0,NaN,NaN,NaN,0.05,NaN,7.535,NaN,15.197,NaN,NaN,NaN,NaN,0.35307,13.69764,NaN,NaN
34,Afghanistan,1994.0,NaN,NaN,NaN,0.05,NaN,7.572,NaN,15.178,NaN,NaN,NaN,NaN,0.50580,NaN,NaN,NaN

# Mulitvariate linear regression

In [6]:
wdi[['unpaid domestic','teenage mothers']].notnull().sum()

Indicator Name
unpaid domestic    177
teenage mothers    340
dtype: int64

In [40]:
wdiReg = wdi[wdi['teenage mothers'].notnull()]

In [43]:
wdiReg = wdiReg[wdiReg['unpaid domestic'].notnull()]

In [41]:
wdiReg['unpaid domestic'].value_counts().sum()

3

In [42]:
wdiReg['teenage mothers'].value_counts()

20.5    4
21.5    4
17.6    4
23.2    3
14.0    3
       ..
23.6    1
25.4    1
4.5     1
5.2     1
23.5    1
Name: teenage mothers, Length: 228, dtype: int64

In [45]:
x = wdiReg[['unpaid domestic','teenage mothers']]
y = wdiReg['labor force']

In [46]:
reg = LinearRegression()

In [47]:
reg.fit(x,y)

LinearRegression()

In [51]:
reg.predict([[16,25]])

array([59.97901153])

# Create Continent Column

In [6]:
#africa
africa = ['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi','Cabo Verde','Cameroon',
          'Central African Republic','Chad','Comoros','Congo',"Cote d'Ivoire",'Congo, Dem. Rep.','Congo, Rep.',
          'Djibouti','Egypt, Arab Rep.','Equatorial Guinea','Eritrea','Eswatini','Ethiopia','Gabon','Gambia, The',
          'Ghana','Guinea','Guinea-Bissau','Kenya','Lesotho','Liberia','Libya','Madagascar','Malawi','Mali',
          'Mauritania','Mauritius','Mayotte','Morocco','Mozambique','Namibia','Niger','Nigeria','Rwanda','Réunion',
          'Saint Helena','Sao Tome and Principe','Senegal','Seychelles','Sierra Leone','Somalia','South Africa',
          'South Sudan','Sudan','Togo','Tunisia','Uganda','Tanzania','Western Sahara','Zambia','Zimbabwe']

In [7]:
EAfrica = ['Burundi','Comoros','Djibouti','Eritrea','Ethiopia','Kenya','Madagascar','Malawi','Mauritius','Mayotte',
           'Mozambique','Réunion','Rwanda','Seychelles','Somalia','South Sudan','Uganda','Tanzania','Zambia',
           'Zimbabwe']

In [8]:
MAfrica = ['Angola','Cameroon','Central African Republic','Chad','Congo, Rep.','Congo, Dem. Rep.','Equatorial Guinea',
           'Gabon','Sao Tome and Principe']

In [9]:
NAfrica = ['Algeria','Egypt, Arab Rep.','Libya','Morocco','Sudan','Tunisia','Western Sahara']

In [10]:
SAfrica = ['Botswana','Eswatini','Lesotho','Namibia','South Africa']

In [11]:
WAfrica =['Benin','Burkina Faso','Cabo Verde',"Cote d'Ivoire",'Gambia, The','Ghana','Guinea','Guinea-Bissau',
          'Liberia','Mali','Mauritania','Niger','Nigeria','Saint Helena','Senegal','Sierra Leone','Togo']

In [12]:
#asia
asia = ['Afghanistan','Armenia','Azerbaijan','Bahrain','Bangladesh','Bhutan','Brunei Darussalam','Cambodia','China',
        'Hong Kong SAR, China','Macao SAR, China','Cyprus',"Korea, Dem. People's Rep.",'Georgia','India','Indonesia',
        'Iran, Islamic Rep.','Iraq','Israel','Japan','Jordan','Kazakhstan','Kuwait','Kyrgyz Republic','Lao PDR',
        'Lebanon','Malaysia','Maldives','Mongolia','Myanmar','Nepal','Oman','Pakistan','Philippines','Qatar',
        'Korea, Rep.','Saudi Arabia','Singapore','Sri Lanka','Syrian Arab Republic','Tajikistan','Thailand',
        'Timor-Leste','Turkey','Turkmenistan','United Arab Emirates','Uzbekistan','Vietnam','West Bank and Gaza',
        'Yemen, Rep.']

In [13]:
CAsia = ['Kazakhstan','Kyrgyz Republic','Tajikistan','Turkmenistan','Uzbekistan']

In [14]:
EAsia = ['China','Hong Kong SAR, China','Macao SAR, China',"Korea, Dem. People's Rep.",'Japan','Mongolia',
         'Korea, Rep.']

In [15]:
SEAsia = ['Brunei Darussalam','Cambodia','Indonesia','Lao PDR','Malaysia','Myanmar','Philippines','Singapore',
          'Thailand','Timor-Leste','Vietnam']

In [16]:
SAsia = ['Afghanistan','Bangladesh','Bhutan','India','Iran, Islamic Rep.','Maldives','Nepal','Pakistan','Sri Lanka']

In [17]:
WAsia = ['Armenia','Azerbaijan','Bahrain','Cyprus','Georgia','Iraq','Israel','Jordan','Kuwait','Lebanon','Oman',
         'Qatar','Saudi Arabia','Syrian Arab Republic','Turkey','United Arab Emirates','West Bank and Gaza',
         'Yemen, Rep.']

In [18]:
#europe
europe = ['Albania','Andorra','Austria','Belarus','Belgium','Bosnia and Herzegovina','Bulgaria','Channel Islands',
          'Croatia','Czech Republic','Denmark','Estonia','Faroe Islands','Finland','France','Germany','Gibraltar',
          'Greece','Guernsey','Holy See','Hungary','Iceland','Ireland','Isle of Man','Italy','Jersey','Latvia',
          'Liechtenstein','Lithuania','Kosovo','Luxembourg','Malta','Monaco','Montenegro','Netherlands',
          'North Macedonia','Norway','Poland','Portugal','Moldova','Romania','Russian Federation','San Marino',
          'Sark','Serbia','Slovak Republic','Slovenia','Spain','Sweden','Switzerland','Ukraine','United Kingdom']

In [19]:
EEurope = ['Belarus','Bulgaria','Czech Republic','Hungary','Poland','Moldova','Romania','Russian Federation',
           'Slovak Republic','Ukraine']

In [20]:
NEurope = ['Channel Islands','Denmark','Estonia','Faroe Islands','Finland','Guernsey','Iceland','Ireland',
           'Isle of Man','Jersey','Latvia','Lithuania','Norway','Sark','Svalbard and Jan Mayen Islands','Sweden',
           'United Kingdom']

In [21]:
SEurope = ['Albania','Andorra','Bosnia and Herzegovina','Croatia','Gibraltar','Greece','Holy See','Italy','Kosovo',
          'Malta','Montenegro','North Macedonia','Portugal','San Marino','Serbia','Slovenia','Spain']

In [22]:
WEurope = ['Austria','Belgium','France','Germany','Liechtenstein','Luxembourg','Monaco','Netherlands','Switzerland']

In [23]:
#north america
NAmerica = ['Anguilla','Antigua and Barbuda','Aruba','Bahamas, The','Barbados','Belize','Bermuda',
            'British Virgin Islands','Canada','Cayman Islands','Costa Rica','Cuba','Curacao','Dominica',
            'Dominican Republic','El Salvador','Greenland','Grenada','Guadeloupe','Guatemala','Haiti','Honduras',
            'Jamaica','Martinique','Mexico','Montserrat','Nicaragua','Panama','Puerto Rico','St. Kitts and Nevis',
            'St. Lucia','Sint Maarten (Dutch part)','St. Martin (French part)','St. Vincent and the Grenadines',
            'Trinidad and Tobago','Turks and Caicos Islands','United States','Virgin Islands (U.S.)']

In [24]:
caribbean = ['Anguilla','Antigua and Barbuda','Aruba','Bahamas, The','Barbados','British Virgin Islands',
             'Cayman Islands','Cuba','Curacao','Dominica','Dominican Republic','Grenada','Guadeloupe','Haiti',
             'Jamaica','Martinique','Montserrat','Puerto Rico','St. Kitts and Nevis','St. Lucia',
             'Sint Maarten (Dutch part)','St. Martin (French part)','St. Vincent and the Grenadines',
             'Trinidad and Tobago','Turks and Caicos Islands','Virgin Islands (U.S.)']

In [25]:
CAmerica = ['Belize','Costa Rica','El Salvador','Guatemala','Honduras','Mexico','Nicaragua','Panama']

In [26]:
NNAmerica = ['Bermuda','Canada','Greenland','United States']

In [27]:
#oceania 
oceania = ['American Samoa','Australia','Christmas Island','Cook Islands','Fiji','French Polynesia','Guam','Kiribati',
           'Marshall Islands','Micronesia, Fed. Sts.','Nauru','New Caledonia','New Zealand','Niue','Norfolk Island',
           'Northern Mariana Islands','Palau','Papua New Guinea','Pitcairn','Samoa','Solomon Islands','Tokelau',
           'Tonga','Tuvalu','Vanuatu']

In [28]:
ANZ = ['Australia','Christmas Island','New Zealand','Norfolk Island']

In [29]:
melanesia = ['Fiji','New Caledonia','Papua New Guinea','Solomon Islands','Vanuatu']

In [30]:
micronesia = ['Guam','Kiribati','Marshall Islands','Micronesia, Fed. Sts.','Nauru','Northern Mariana Islands','Palau']

In [31]:
polynesia = ['American Samoa','Cook Islands','French Polynesia','Niue','Pitcairn','Samoa','Tokelau','Tonga','Tuvalu']

In [32]:
#south america
SAmerica = ['Argentina','Bolivia','Bouvet Island','Brazil','Chile','Colombia','Ecuador','Guyana','Paraguay','Peru',
            'Suriname','Uruguay','Venezuela, RB']

In [33]:
cont = []
region = []
for country in wdi['Country Name']:
    if country in africa:
        cont.append('Africa')
        if country in EAfrica:
            region.append('Eastern Africa')
        elif country in MAfrica:
            region.append('Middle Africa')
        elif country in NAfrica:
            region.append('Northern Arica ')
        elif country in SAfrica:
            region.append('Southern Africa')
        elif country in WAfrica:
            region.append('West Africa')
        else: region.append('check me')
    elif country in asia:
        cont.append('Asia')
        if country in WAsia:
            region.append('Western Asia')
        elif country in SAsia:
            region.append('Southern Asia')
        elif country in SEAsia:
            region.append('South-eastern Asia')
        elif country in EAsia:
            region.append('Eastern Asia')
        elif country in CAsia:
            region.append('Central Asia')
        else: region.append('check me')
    elif country in europe:
        cont.append('Europe')
        if country in NEurope:
            region.append('Northern Europe')
        elif country in WEurope:
            region.append('Western Europe')
        elif country in SEurope:
            region.append('Southern Europe')
        elif country in EEurope:
            region.append('Eastern Europe')
        else: region.append('check me')
    elif country in NAmerica:
        cont.append('North America')
        if country in caribbean:
            region.append('Caribbean')
        elif country in CAmerica:
            region.append('Central America')
        elif country in NNAmerica:
            region.append('Northern America')
        else: region.append('check me')
    elif country in oceania:
        cont.append('Oceania')
        if country in ANZ:
            region.append('Australia and New Zealand')
        elif country in melanesia:
            region.append('Melanesia')
        elif country in micronesia:
            region.append('Micronesia')
        elif country in polynesia:
            region.append('Polynesia')
    elif country in SAmerica:
        cont.append('South America')
        region.append('South America')
    else:
        cont.append('check me')
        region.append('check me')

In [34]:
wdi['continent'] = cont

In [35]:
wdi['region'] = region

In [36]:
wdi['continent'].value_counts()

Africa           1728
Asia             1600
Europea          1534
North America    1086
Oceania           607
South America     384
Name: continent, dtype: int64

In [37]:
#adding colors to the graphs to make it easier to see since i have 6 clusters
colors = ['red','orange','yellow','green','blue','purple']

In [38]:
wdi.groupby(['continent']).agg({'employers':['mean'],'management':['mean'],'fertility rate':['mean'],
                             'intentional homicides':['mean'],'labor force':['mean'],'literacy rate':['mean'],
                             'poverty gap':['mean'],'parliment seats':['mean'],'unpaid domestic':['mean'],
                             'gender parity index':['mean'],'primary enrollment':['mean'],
                             'teenage mothers':['mean'],'married by 18':['mean']})

Indicator Name,employers,management,fertility rate,intentional homicides,labor force,literacy rate,poverty gap,parliment seats,unpaid domestic,gender parity index,primary enrollment,teenage mothers,married by 18
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
continent,,,,,,,,,,,,,
Africa,1.358959,30.108823,4.952883,2.630041,55.443354,54.608101,49.208295,16.862610,16.586068,0.897370,68.434668,24.252174,35.430595
Asia,1.193462,23.361798,2.895714,1.365396,44.868073,82.177734,19.423611,13.480550,17.852008,0.963396,87.297200,11.521250,21.966308
Europea,2.172448,30.757235,1.612733,1.581416,50.310283,96.671888,2.477266,23.874131,17.878413,0.994153,93.530889,4.925263,6.336386
North America,2.564631,40.028172,2.389569,3.941461,48.880259,87.844302,14.121461,18.838957,18.368638,0.978208,90.193351,21.007143,28.818187
Oceania,2.237053,32.510910,3.369942,1.174564,54.272205,87.503443,16.109375,7.543517,18.015670,0.979822,91.551809,12.100000,18.426793
South America,2.371925,32.405732,2.669538,4.125915,49.510130,92.994968,13.918571,20.269652,17.919429,0.984547,92.061724,15.267857,21.913204

In [39]:
wdi.groupby(['continent','region']).agg({'employers':['mean'],'management':['mean'],'fertility rate':['mean'],
                             'intentional homicides':['mean'],'labor force':['mean'],'literacy rate':['mean'],
                             'poverty gap':['mean'],'parliment seats':['mean'],'unpaid domestic':['mean'],
                             'gender parity index':['mean'],'primary enrollment':['mean'],
                             'teenage mothers':['mean'],'married by 18':['mean']})

Indicator Name                          employers management fertility rate  \
                                             mean       mean           mean
continent     region
Africa        Eastern Africa             1.007647  29.244800       5.081562
              Middle Africa              1.687165  11.960000       5.559466
              Northern Arica             1.872414  15.506667       3.294527
              Southern Africa            2.373724  34.986071       3.478432
              West Africa                1.037953  26.623000       5.551123
Asia          Central Asia               0.673310        NaN       3.038968
              Eastern Asia               1.495862  38.280833       1.619853
              South-eastern Asia         1.325235  28.649149       2.861249
              Southern Asia              0.520153  14.723448       3.436495
              Western Asia               1.476475  19.890784       3.102761
Europea       Eastern Europe             1.358172  34.108992       1.456313
              Northern Europe            2.128777  34.724136       1.780572
              Southern Europe            2.802960  27.019788       1.594697
              Western Europe             2.323448  27.097398       1.583193
North America Caribbean                  2.454295  44.460000       2.186623
              Central America            2.753190  38.851373       3.025048
              Northern America           2.417241  38.454286       1.889161
Oceania       Australia and New Zealand  4.509828        NaN       1.901597
              Melanesia                  1.124483  28.440001       3.718606
              Micronesia                 1.617241  26.865001       3.493529
              Polynesia                  2.782759  40.422501       3.629527
South America South America              2.371925  32.405732       2.669538

Indicator Name                          intentional homicides labor force  \
                                                         mean        mean
continent     region
Africa        Eastern Africa                         2.775682   64.946737
              Middle Africa                          1.331598   59.132469
              Northern Arica                         0.409881   24.087391
              Southern Africa                       10.133333   51.342944
              West Africa                            3.444881   56.310746
Asia          Central Asia                           2.867126   48.376262
              Eastern Asia                           1.039668   58.668210
              South-eastern Asia                     1.295632   60.098858
              Southern Asia                          2.006011   35.091583
              Western Asia                           1.130933   34.107398
Europea       Eastern Europe                         2.764459   50.625881
              Northern Europe                        1.601433   56.712469
              Southern Europe                        0.914899   43.657133
              Western Europe                         0.845151   51.204250
North America Caribbean                              3.938091   51.821136
              Central America                        5.064202   42.323731
              Northern America                       1.849054   58.931547
Oceania       Australia and New Zealand              0.970581   58.314531
              Melanesia                              2.383181   60.592350
              Micronesia                                  NaN   56.564750
              Polynesia                              1.060792   40.279562
South America South America                          4.125915   49.510130

Indicator Name                          literacy rate poverty gap  \
                                                 mean        mean
continent     region
Africa        Eastern Africa                61.827016   56.044000
              Middle Africa                 55.960980   51.680952
              Northern Arica                59.938151   21.604167
              Southern Africa               86.360374   41.010000
              West Africa                   34.112127   52.609091
Asia          Central Asia                  99.438731   23.686275
              Eastern Asia                  92.935998   17.000000
              South-eastern Asia            84.187238   25.244944
              Southern Asia                 60.598356   28.907547
              Western Asia                  88.763258   10.638168
Europea       Eastern Europe                98.447964    5.369822
              Northern Europe               99.810682    0.750526
              Southern Europe               95.743271    3.455882
              Western Europe                      NaN    0.205556
North America Caribbean                     91.434495   13.373529
              Central America               85.817581   18.334507
              Northern America                    NaN    0.800000
Oceania       Australia and New Zealand           NaN    0.711111
              Melanesia                     75.148913   31.630000
              Micronesia                    98.344893   19.750000
              Polynesia                     98.957659   10.614286
South America South America                 92.994968   13.918571

Indicator Name                          parliment seats unpaid domestic  \
                                                   mean            mean
continent     region
Africa        Eastern Africa                  21.744069       15.844907
              Middle Africa                   13.737733       15.820860
              Northern Arica                  14.741651       21.701387
              Southern Africa                 20.947312       15.300930
              West Africa                     12.584017       10.889225
Asia          Central Asia                    17.427744       22.816357
              Eastern Asia                    14.372054       16.019504
              South-eastern Asia              18.337490       12.580684
              Southern Asia                   12.356024       17.291667
              Western Asia                     9.644987       20.659772
Europea       Eastern Europe                  17.227821       19.253525
              Northern Europe                 29.780347       16.584261
              Southern Europe                 21.809017       19.860495
              Western Europe                  27.453256       16.464794
North America Caribbean                       17.566309       18.009437
              Central America                 20.434104       23.186094
              Northern America                20.657398       15.772917
Oceania       Australia and New Zealand       29.594950       19.444445
              Melanesia                        3.471399       15.158120
              Micronesia                       3.235472             NaN
              Polynesia                        4.417196             NaN
South America South America                   20.269652       17.919429

Indicator Name                          gender parity index  \
                                                       mean
continent     region
Africa        Eastern Africa                       0.932898
              Middle Africa                        0.842421
              Northern Arica                       0.919683
              Southern Africa                      0.984936
              West Africa                          0.845698
Asia          Central Asia                         0.990662
              Eastern Asia                         0.992574
              South-eastern Asia                   0.962104
              Southern Asia                        0.888452
              Western Asia                         0.985769
Europea       Eastern Europe                       0.992467
              Northern Europe                      0.995594
              Southern Europe                      0.993448
              Western Europe                       0.995210
North America Caribbean                            0.975851
              Central America                      0.976079
              Northern America                     1.000502
Oceania       Australia and New Zealand            1.001531
              Melanesia                            0.946480
              Micronesia                           0.991762
              Polynesia                            0.989411
South America South America                        0.984547

Indicator Name                          primary enrollment teenage mothers  \
                                                      mean            mean
continent     region
Africa        Eastern Africa                     66.752354       24.094521
              Middle Africa                      63.972315       31.094737
              Northern Arica                     81.886591        9.110000
              Southern Africa                    85.461600       18.620000
              West Africa                        60.505001       25.491667
Asia          Central Asia                       89.285081        7.355556
              Eastern Asia                       90.956360             NaN
              South-eastern Asia                 89.562497        8.856522
              Southern Asia                      79.453709       19.400000
              Western Asia                       87.696336        7.252174
Europea       Eastern Europe                     90.109658        6.500000
              Northern Europe                    96.996419             NaN
              Southern Europe                    93.479620        4.362857
              Western Europe                     94.025639             NaN
North America Caribbean                          90.694461       18.192308
              Central America                    88.604627       23.446667
              Northern America                   94.696025             NaN
Oceania       Australia and New Zealand          97.216248             NaN
              Melanesia                          89.226020       12.100000
              Micronesia                         82.593992             NaN
              Polynesia                          87.882140             NaN
South America South America                      92.061724       15.267857

Indicator Name                          married by 18
                                                 mean
continent     region
Africa        Eastern Africa                36.498321
              Middle Africa                 43.272274
              Northern Arica                17.330777
              Southern Africa               10.622492
              West Africa                   39.499475
Asia          Central Asia                  10.686941
              Eastern Asia                   5.004462
              South-eastern Asia            17.879612
              Southern Asia                 40.446772
              Western Asia                  16.695900
Europea       Eastern Europe                 9.462100
              Northern Europe                0.033333
              Southern Europe                5.793899
              Western Europe                      NaN
North America Caribbean                     26.502338
              Central America               31.037542
              Northern America                    NaN
Oceania       Australia and New Zealand           NaN
              Melanesia                     23.461208
              Micronesia                    22.958662
              Polynesia                      8.760000
South America South America                 21.913204

In [40]:
#asia has the lowest labor force with the lowest employers and lowest management
#africa has the highest labor force with the highest fertility rate, lowest literacy, highest poverty gap, lowest 
#unpaid domestic, lowest gender parity index, lowest primary enrollment, highest teenage mothers, and highest married
#by 18
#europe has the lowest fertility rate, higest literacy rate, lowest poverty gap, highest parliament seats, highest
#gender parity index, highest primary enrollment, lowest teenage mothers, and lowest married by 18
#north america has the highest employers, highest management, highest unpaid domestic
#oceania has the lowest intention homicides and lowest parliament seats
#south america has the highest intentional homicides

In [41]:
wdi.to_csv(os.path.join(path,'data','prepared data','wdi_short.csv'))
clusters.to_csv(os.path.join(path,'data','prepared data','wdi_clustered.csv'))